.presentation__blocks {
    display: flex;
}
.presentation__text {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    color: #FFFFFF;
    text-align: center;
    margin-top: 160px;
}
.presentation_button {
    margin: 0 auto;
    margin-left: 39%;
    margin-top: 96px;
}