.consultation {
    width: 310px;
    height: 62px;
    margin-top: 47px;
    background: linear-gradient(179.8deg, #724927 -18.22%, #9F743A 3.08%, #FDFEB1 35.04%, #FFD174 47.69%, #8E5218 76.33%, #A35F20 103.62%);
    border-radius: 10px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #080A42;
}